<div class="col-md-6">
  <h2 class="text-center">Change password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="oldPassword">Input old password:</label>
      <input type="password" formControlName="oldPassword" placeholder="Old password"
             name="oldPassword" class="form-control" id="oldPassword"
             [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"/>
      <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
        <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">New password:</label>
      <input type="password" formControlName="newPassword" placeholder="New password"
             name="newPassword" class="form-control" id="newPassword"
             [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
      <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.required">New password is required</div>
      </div>
    </div>
    <button class="btn btn-success">Submit</button> <br>
  </form>
</div>
