<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{{title}}</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" [routerLink]="['/date-menus']">Date Menus</a>
      <a class="mdl-navigation__link" [routerLink]="['/menu-controller']">Menu controller</a>
      <a class="mdl-navigation__link" [routerLink]="['/restaurants']">Restaurants</a>
      <a class="mdl-navigation__link" [routerLink]="['/dishes']">Dishes</a>
      <a class="mdl-navigation__link" (click)="logout()">Logout</a>
      <a class="mdl-navigation__link" [routerLink]="['/login']">{{loggedUser?.email}}</a>
    </nav>
  </div>
</header>
