<div class="col-md-6">
  <h2 class="text-center">Edit Dish</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" formControlName="name" placeholder="Name" name="name" class="form-control" id="name"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
        <div *ngIf="f.name.errors.minlength">Name must be at least 2 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="Price">Price:</label>
      <input formControlName="price" type="number" placeholder="price" name="price" class="form-control" id="price"
             [ngClass]="{ 'is-invalid': submitted && f.price.errors }"/>
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Price is required</div>
      </div>
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
