<div class="col-md-6">
  <h2> Dishes List</h2>
  <button class="btn btn-danger" (click)="add()"> Add Dishes</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dish of dishes">
      <td class="hidden"></td>
      <td>{{dish.name}}</td>
      <td>${{dish.price/100}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(dish)"> Delete</button>
        <button class="btn btn-danger" (click)="edit(dish)" style="margin-left: 20px;"> Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
