<table class="mdl-data-table mdl-js-data-table">
  <caption class="table_caption">
    <button class="btn btn-primary" (click)="openAddFormModal()" style="margin-top: 30px; margin-bottom: 10px"> Add Dish</button>
  </caption>
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Name</th>
    <th class="mdl-data-table__cell--non-numeric">Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dish of dishes">
    <td class="mdl-data-table__cell--non-numeric">{{dish.name}}</td>
    <td class="mdl-data-table__cell--non-numeric">${{dish.price/100}}</td>
    <td>
      <button class="btn btn-danger" (click)="delete(dish)" style="margin-top: 10px"> Delete</button>
      <button class="btn btn-primary" (click)="openEditFormModal(dish.id)" style="margin-top: 10px; margin-left: 10px"> Edit</button>
    </td>
  </tr>
  </tbody>
</table>
